<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>{:(is_array($_title) ? join('_', $_title) : $_title)}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{__CTPL_URL__}css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="{__CTPL_URL__}css/animate.min.css" rel="stylesheet">
    <link href="{__CTPL_URL__}css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="{__CTPL_URL__}css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{__CTPL_URL__}css/plugins/select2/select2.min.css" rel="stylesheet">
    <script>
        var DATA_URL    = '{__DATA_URL__}',
            STATIC_URL  = '{__STATIC_URL__}',
            UPLOAD_URL  = '{__UPLOAD_URL__}',
            api = frameElement.api,
            W   = api.opener
            ,
            filter = new Object();
    </script>
