<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <i class="fa fa-cog"></i>
                    基本信息
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理编号</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="agent_code" name="data[agent_code]" value="{$data['agent_code'] ?: ''}" maxlength="255" {if $data['agent_code']} readonly="readonly" {/if} placeholder="为确保唯一性，可自动生成" />
                                    <span class="input-group-addon {if !$data['agent_code']} generate-sn {/if}" data-prefix="AGT">生成</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="agent_fullname" name="data[agent_fullname]" value="{$data['agent_fullname'] ?: ''}" maxlength="255" placeholder="代理姓名" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理手机号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="agent_mobile" name="data[agent_mobile]" value="{$data['agent_mobile'] ?: ''}" maxlength="255" placeholder="代理手机号" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">代理级别</label>
                            <div class="col-sm-9">
                                <select name="data[agent_level]" class="form-control select-customer">
                                    <option value="0">--请选择--</option>
                                    {foreach $agent_type $k $v}
                                    <option value="{$k}" {if $data['agent_level'] == $k} selected="selected" {/if}>{$v}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
