<style type="text/css">
    .album-cover {
        width: 300px;
        height: auto;;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <i class="fa fa-cog"></i>
                    基本信息
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">车牌号码</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="car_no" name="data[car_no]" value="{$data['car_no'] ?: ''}" maxlength="255" placeholder="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">车辆名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="car_title" name="data[car_name]" value="{$data['car_name'] ?: ''}" maxlength="255" placeholder="车辆名称" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">车型备注</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="car_tag" name="data[car_tag]" value="{$data['car_tag'] ?: ''}" maxlength="255" placeholder="车型备注" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">日租金</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="car_rent_price" name="data[car_rent_price]" value="{$data['car_rent_price'] ?: ''}" maxlength="255" placeholder="可用数量" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">车辆类型</label>
                            <div class="col-sm-9">
                                <select name="data[car_type]" class="form-control">
                                    <option value="0">--请选择--</option>
                                    {foreach $car_type $k $v}
                                    <option value="{$k}" {if $data['car_type'] == $k} selected="selected" {/if}>{$v}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="cover-wrap">
                            <img class="album-cover add-cover" src="{if $data['car_cover']}{__UPLOAD_URL__}{$data['car_cover']}{else}{__CTPL_URL__}img/p2.jpg{/if}" />
                            <input type="hidden" name="data[car_cover]" value="{$data['car_cover']}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
