<!--{include common/meta.inc}-->
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <!--{include common/crumb.inc}-->
                    <div class="ibox-content">
                        <!--{include common/filter.tpl}-->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkall" {if empty($list)} disabled="disabled" {/if} /></th>
                                        <th>车牌号码</th>
                                        <th>车辆名称</th>
                                        <th>车型备注</th>
                                        <th>车辆类型</th>
                                        <th>日租金</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if empty($list)}
                                    <tr>
                                        <table>
                                            <tr><td>暂无数据</td></tr>
                                        </table>
                                    </tr>
                                    {/if}
                                    {foreach $list $k $v}
                                    <tr id="item-{$v['car_id']}">
                                        <td>
                                            <input type="checkbox" class="i-checks" value="{$v['car_id']}" />
                                        </td>
                                        <td>
                                            <a title="编辑{$v['car_name']}" href="{url:'car-add-id-%d' , $v['car_id']}">{$v['car_no']}</a>
                                        </td>
                                        <td>
                                            {$v['car_name']}
                                        </td>
                                        <td>{$v['car_tag']}</td>
                                        <td>{$car_type[$v['car_type']]}</td>
                                        <td class="text-warning">￥{$v['car_rent_price']}</td>
                                        <td>
                                            <a href="{url:'car-del-id-%d' , $v['car_id']}" data-confirm="操作不可撤销，确认吗？" data-target="#item-{$v['car_id']}" class="btn btn-xs btn-danger btn-delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <!--{include common/pagination.inc}-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{include common/js.inc}-->
    <script src="{__CTPL_URL__}js/filter.js"></script>
    <script type="text/javascript">
        $('.order-operate a').on('click' , function() {
            var car_id = $(this).attr('data-oid');
            var car_status = $(this).attr('data-status');
            var url = "{url:'order-change-status-#SAT#-id-~'}" + car_id;
            url = url.replace('#SAT#' , car_status);
            console.log(url);
        });
    </script>
</body>

<!--{include common/footer.inc}-->
