<style type="text/css">
    .album-cover {
        width: 300px;
        height: auto;;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <i class="fa fa-cog"></i>
                    基本信息
                </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户姓名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="user_name" name="data[user_name]" value="{$data['user_name'] ?: ''}" maxlength="255" placeholder="用户姓名" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户手机</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="user_mobile" name="data[user_mobile]" value="{$data['user_mobile'] ?: ''}" maxlength="255" placeholder="用户手机" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户学号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="user_sno" name="data[user_sno]" value="{$data['user_sno'] ?: ''}" maxlength="255" placeholder="用户学号" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户学校</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="user_sname" name="data[user_sname]" value="{$data['user_sname'] ?: ''}" maxlength="255" placeholder="用户学校" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">登录密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="user_password" name="data[user_password]" maxlength="255" placeholder="登录密码，编辑用户是可为空" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
