
<html>
<head><title>404 Not Found</title></head>
<body bgcolor="white" style="padding:35px;">
<center><h1 style="font-size: 16px;line-height: 35px;">{$msg}</h1></center>
<hr style="border:0;height: 1px;background: #999;">
<center style="padding:15px">
    <a title="蘑菇PHP" target="_blank" style="font-size: 13px;color: #353535;text-decoration: none;" href="http://www.rgx.re/">
        RGX/{__RGX_VER__} 「 蘑菇PHP 🍄 」
    </a>
</center>
</body>
</html>
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
