{include common/header.inc}
<style type="text/css">
    .weui-label {line-height: 40px;}
</style>
</head>

<body ontouchstart>
{include common/topbar.inc}

<div class="wraper">
    <div class="weui-cells weui-cells_form">
        <form action="{url:'login-submit'}" method="post" id="sform" enctype="multipart/form-data">
            <input type="hidden" name="redirect" value="{$redirect}">
            <div class="weui-cell" id="mobilewarning" >
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="icon iconfont">&#xe72e;</span>手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" name="data[user_mobile]" id="mobile" placeholder="请输入手机号">
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label"><span class="icon iconfont">&#xe72d;</span>密&nbsp;&nbsp;码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_password]" type="password" autocomplete />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label"><span class="icon iconfont">&#xe6fa;</span>验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="verify_code" placeholder="请输入验证码" />
                </div>
                <div class="weui-cell__ft" style="font-size: 16px;">
                    <a href="javascript:;" id="obtain" data-flag=1>发送</a>
                </div>
            </div>
        </form>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary form-submit">立即登录</a>
</div>

{include common/footer.inc}
<script type="text/javascript">
    $('#obtain').on('click' , function() {
        var mobile = $('#mobile').val();
        var pattern = /^1[345789]\d{9}$/;
        if ( !pattern.test(mobile) ) {
            layer.open({
                content: '手机号输入错误'
                ,btn: '我知道了'
              });
            return;
        }


        var flag = $(this).attr('data-flag');
        if ( flag == 1 ) {
            var url = "{url:'misc-sms-mobile-~'}" + mobile;
            $.getJSON(url , function(d) {
                if ( d.code == 200 ) {
                  layer.open({
                      content: d.msg
                      ,btn: '我知道了'
                  });

                    var time = 60;

                    if( time == 60 ){
                       var time1 = setInterval(function(){
                           if(time == 0){
                               $("#obtain").html("重新发送");
                               $("#obtain").attr("data-flag" , "1");
                               time = 60;
                               clearInterval(time1);
                           }else{
                               $("#obtain").attr("data-flag" , "0");
                               $("#obtain").html("重新发送("+time+")");
                               time--;
                           }
                           }, 1000);
                   }
               }else{
                   layer.open({
                        content: '发送失败，请稍后重试'
                        ,btn: '我知道了'
                    });
               }
            });
            console.log('send api');
        }
        console.log(mobile);
    });
</script>
</body>
</html>