{include common/header.inc}
</head>

<body ontouchstart>
{include common/topbar.inc}

<div class="wraper">
    <div class="weui-cells weui-cells_form">
        <form action="{url:'register-submit'}" method="post" id="sform" enctype="multipart/form-data">
            <input type="hidden" name="redirect" value="{$redirect}">
            <div class="weui-cell" id="mobilewarning" >
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="icon iconfont">&#xe716;</span>姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_name]" type="text" placeholder="请输入姓名" required>
                </div>
            </div>

             <div class="weui-cell" >
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="icon iconfont">&#xe72e;</span>手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_mobile]" type="tel" id="mobile" placeholder="请输入手机号" required>
                </div>
            </div>

            <div class="weui-cell" >
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="icon iconfont">&#xe6f5;</span>学生号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_sno]" type="text" placeholder="请输入学生号" required>
                </div>
            </div>

            <div class="weui-cell" >
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="icon iconfont">&#xe729;</span>学校名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_sname]" type="text" placeholder="请输入学校名" required>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label"><span class="icon iconfont">&#xe72d;</span>密&nbsp;&nbsp;码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_password]" type="password" placeholder="请输入密码" required autocomplete />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label"><span class="icon iconfont">&#xe6ff;</span>推荐人</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="data[user_recommend]" type="text" placeholder="选填" />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label"><span class="icon iconfont">&#xe6fa;</span>验证码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" name="verify_code" type="number" placeholder="请输入验证码" required />
                </div>
                <div class="weui-cell__ft">
                  <img class="weui-vcode-img" src="{url:'misc-verify-~'}">
                </div>
            </div>
        </form>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary form-submit">立即注册</a>
</div>

{include common/footer.inc}
</body>
</html>